@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --background: linear-gradient(125deg, rgb(209, 38, 38), rgb(122, 0, 135));
}

html {
    background: var(--background);
    background-size: 100vw 100vh;
}

.wrapper {
    transition: ease-in-out 0.5s;
    background-color: rgba(255, 255, 255, 0.128);
    padding-inline: 10vw;
    font-family: 'Montserrat';
    font-size: 50px;
    color: rgba(255, 255, 255, 0.876);
    text-shadow: 0px 0px 5px rgb(199, 199, 199);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    border-radius: 10px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.308);
}

.wrapper:hover {
    transform: translateX(-50%) translateY(-50%) scale(105%);
}

#card-text {
    transition: ease-in-out 0.5s;
}
#card-text:hover {
    text-shadow: 0px 0px 10px rgb(112, 112, 112);
    color: white;
}
